# Dependências
node_modules
.pnp
.pnp.js

# Build do Next.js
.next/
out/

# Variáveis de Ambiente (CRÍTICO: não apagar esta linha)
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema (macOS/Windows)
.DS_Store
thumbs.db

#json
package-lock.json
package.json

#.venv

.env.local

next-env.d.ts
tsconfig.json